<html>
<head>
<style>
body {
    background :<%= color %>;
}
</style>
</head>
<body>
<form>
<input type = 'text' name = 'guess' />
<input type = 'submit' value = 'Guess!' />
</form>
THE SECRET NUMBER IS <%= x %>
</p>
<p>
the guess IS <%=params["guess"]%>
</p>
<p>
<%= message %>
</p>
<p>
Il reste <%= counter %> <%= reinitialize_win %> <%= reinitialize_loose %> essais 
</p>
<p>
<%= winner %>
<%= looser %>
</p>
</body>
</html>